<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base :: Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <section>
        <div class="profile text-center mx-auto" style="width: 800px;">
            <img th:src="@{'/img/'+${user.image}}" style="color:#ffffff; height: 400px; width: 400px; object-fit: cover; background: transparent; border-radius: 600px;" >
            <h1 th:text="${user.name}"></h1>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td>Email:</td>
                        <td th:text="${user.email}"></td>
                      </tr>
                      <tr>
                        <td>Date of Birth:</td>
                        <td th:text="${user.dob}">Not specified</td>
                      </tr>
                </tbody>
            </table>
            <a th:href="@{/user/update}"><button class="btn btn-primary">Update</button></a>
        </div>
    </section>

</body>
</html>